body {
    font-family: Calibri;
    margin-left: 10px;
    margin-top: 10px;
}

/* Navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    overflow: hidden;
    background-color: #1f628d;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #3498db;
}

/* Text */
h1 {
    margin: 0px;
    margin-left: -5px;
    font-size: 80px;
    color: #1f628d;
    font-weight: bold;
}

/* Input fields */
.form {
    width: 250px;
}

.form tr {
    height: 30px;
}

/* Overview table */
.overview {
}

.overview th {
    font-weight: bold;
}

.overview th, td {
    padding: 0px 20px 10px 0px;
    padding-left: 0px;
    text-align: left;
}

/* Submit button */
.btn {
  color: #ffffff;
  font-size: 20px;
  background: #1f628d;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #3498db;
  text-decoration: none;
}

/* Errormessage */
.errormsg{
    color: red;
}

.errormsg ul{
    margin-bottom: 10px;
}