
@{
    @model Data
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<form method="post">
    @Html.ValidationSummary()

    <p>
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date)
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>