@{
    @model Data
    ViewBag.Title = "Adminy - Home";
}

<h1>Home</h1>

<form method="post">
    <div class="errormsg">
        @Html.ValidationSummary()
    </div>
    
    <p>
        @Html.LabelFor(m => m.Date)
        <input type="date" name="date">
    </p>
    <p>
        <input type="submit" value="Submit" class="btn">
    </p>
</form>