@{
    @model Shift
    ViewBag.Title = "Adminy - Home";
}

<h1>Home</h1>

<form method="post">
    <div class="errormsg">
        @Html.ValidationSummary()
    </div>
    <table class="form">
        <tr>
            <td>
                @Html.LabelFor(m => m.Date)
            </td>
            <td>
                <input type="date" name="date">
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Start)</td>
            <td>@Html.TextBoxFor(m => m.Start)</td>
        </tr>
    </table>
    <input type="submit" value="Submit" class="btn">
</form>